<h1>ITMS Dashboard</h1>

<div style="display: flex; flex-direction: column; gap: 20px">
  <div style="display: flex; flex-direction: row; gap: 10px">


    <kendo-tilelayout
      [resizable]="true"
      reorderable="true"
      style="width: 100%; padding: 10px; display:flex;flex-direction: column;gap:20px"

    >
    <div style="display: flex;flex-direction: row;gap:20px;width:100%;justify-content: space-between;">
      <!-- <kendo-tilelayout-item reorderable="true" style="width: 50%">
        <kendo-tilelayout-item-body style="width: 100%"> -->
      <i2v-kpi-chart  [KPIHeading]="'Total no. of vehicles'" [disableTimeFilter]="true" [data]="[10,40,30,60]" disa [value]="'15,67,785'" [percentValue]="'9'" style="width:25%" linecolor="green"></i2v-kpi-chart>
       <!-- </kendo-tilelayout-item-body>
       </kendo-tilelayout-item> -->
       <!-- <kendo-tilelayout-item reorderable="true" style="width: 50%">
        <kendo-tilelayout-item-body style="width: 100%"> -->
      <i2v-kpi-chart  [KPIHeading]="'Total no. of violations'" [data]="[40,35,45,20]" [disableTimeFilter]="true" [value]="'85,610'" [percentValue]="'25'" style="width:25%" linecolor="red"></i2v-kpi-chart>
       <!-- </kendo-tilelayout-item-body>
       </kendo-tilelayout-item> -->
       <!-- <kendo-tilelayout-item reorderable="true" style="width: 50%">
        <kendo-tilelayout-item-body style="width: 100%"> -->
      <i2v-kpi-chart  [KPIHeading]="'Total no. of watchlist detected'" [disableTimeFilter]="true" [data]="[20,20,10,20,15,30,25,20]" [value]="'34,759'" [percentValue]="'12.23'" style="width:25%" linecolor="green"></i2v-kpi-chart>
         <!-- </kendo-tilelayout-item-body>
         </kendo-tilelayout-item>
         <kendo-tilelayout-item reorderable="true" style="width: 50%">
          <kendo-tilelayout-item-body style="width: 100%"> -->
      <i2v-kpi-chart  [KPIHeading]="'Most seen vehicle type: car'"[disableTimeFilter]="true"  [data]="[5,25,35,25,35,45]" [value]="'24,736'" [percentValue]="'10.36'" style="width:25%" linecolor="green"></i2v-kpi-chart>
       <!-- </kendo-tilelayout-item-body>
       </kendo-tilelayout-item> -->
    </div>

<!-- "Vehicle makes" -->

<!-- wrong way vehicle -->


<div  style="width: 100%; display:flex;flex-direction: row;gap:20px">
  <kendo-tilelayout-item reorderable="true" style="width: 50%">
    <kendo-tilelayout-item-body style="width: 100%">
      <i2v-column-chart
        heading="Total no. of vehicles"
        subHeading="in lakhs"
        (daysFilterOutput)="onDaysFilterOutput($event)"
        [chartData]="TotalVehiclesData"
      >
      </i2v-column-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item style="width: 50%">
    <kendo-tilelayout-item-body>
      <i2v-donut-chart heading="Vehicles types"
      (daysFilterOutput)="onDaysFilterOutput($event)"
      [chartData]="VehicleTypes">
    </i2v-donut-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

</div>
 <div  style="width: 100%; display:flex;flex-direction: row;gap:20px">
  <!-- Total no. of violations -->
     <!-- <kendo-tilelayout-item reorderable="true" style="width: 50%">
        <kendo-tilelayout-item-body style="width: 100%">
          <i2v-column-chart
            heading="Total no. of violations"
            subHeading="in lakhs"
            (daysFilterOutput)="onDaysFilterOutput($event)"
            [chartData]="TotalViolationTypes"
          >
          </i2v-column-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> -->
    <!-- Violations type -->
    <!-- <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
        <kendo-tilelayout-item-body>
          <i2v-bar-chart heading="Violations type" subHeading="in lakhs"
            (daysFilterOutput)="onDaysFilterOutput($event)"
            [chartData]="ViolationsType" >
          </i2v-bar-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> -->

</div>

<div>
  <kendo-tilelayout-item  [col]="1" colSpan="10">
  <kendo-tilelayout-item-body>
    <i2v-heatmap-chart heading="Traffic / violation density by"
      (daysFilterOutput)="onDaysFilterOutput($event)"
      [chartData]="ViolationDensity" >
  </i2v-heatmap-chart>
 </kendo-tilelayout-item-body>
</kendo-tilelayout-item></div>
    <!-- vehicles at tolls -->
    <div style="width: 100%; display:flex;flex-direction: row;gap:20px">
      <!-- <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
        <kendo-tilelayout-item-body>
          <i2v-line-chart heading="Vehicles at tolls" subHeading="in lakhs" [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
           [chartData]="VehicleAtTolls">
          </i2v-line-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> -->
      <!-- Average speed of vehicle -->
      <!-- <kendo-tilelayout-item  [col]="1" colSpan="10"style="width: 50%">
        <kendo-tilelayout-item-body>
          <i2v-line-chart heading="Average speed of vehicle" subHeading="in lakhs" [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
            [chartData]="VehicleAverageSpeed">
          </i2v-line-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> -->
    </div>



<!-- <div  style="width: 100%; display:flex;flex-direction: row;gap:20px">
  <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
    <kendo-tilelayout-item-body>
      <i2v-area-chart heading="Wrong way vehicles" subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
        [chartData]="stackedColumnChartData">
      </i2v-area-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
    <kendo-tilelayout-item-body>
      <i2v-bar-chart heading="Wrong way vehicles" subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
       [chartData]="barandLineData" color="#bc7af9">
      </i2v-bar-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

</div> -->
<div>
  <!-- Vehicle color by its type -->
  <!-- <kendo-tilelayout-item [col]="1" colSpan="10">
    <kendo-tilelayout-item-body>
      <i2v-stackedcolumn-chart heading="Vehicle color by its type" subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
        [chartData]="VehicleColorByType">
      </i2v-stackedcolumn-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item> -->
</div>
<div>
  <!-- <kendo-tilelayout-item reorderable="true" style="width: 100%">
    <kendo-tilelayout-item-body style="width: 100%">
      <i2v-column-chart
        heading="Vehicle makes"
        subHeading="in lakhs"
        [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)"

        [chartData]="VehicleMake"
        color="#ff865e"
      >
      </i2v-column-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item> -->
</div>
<div>
  <!-- Vehicle models -->
  <!-- <kendo-tilelayout-item reorderable="true" style="width: 100%">
    <kendo-tilelayout-item-body style="width: 100%">
      <i2v-column-chart
        heading="Vehicle models"
        subHeading="in lakhs"
        [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)"

        [chartData]="barandLineData"
        color="#a3bb98"
      >
      </i2v-column-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</div>

    </kendo-tilelayout> -->
</div>
<!-- </div> -->
