<h1>ITMS Dashboard</h1>

<div style="display: flex; flex-direction: column; gap: 20px;height: 100%;">
  <div style="display: flex; flex-direction: row; gap: 10px;height: 100%;">


    <kendo-tilelayout
      [resizable]="true"
      reorderable="true"
      style="width: 100%; padding: 10px; display:flex;flex-direction: column;gap:20px;height:100%"

    >
    <div style="display: flex;flex-direction: row;gap:20px;width:100%;justify-content: space-between;">
    <i2v-kpi-chart  [heading]="'Total no. of vehicles'" [data]="[10,40,30,60]" [value]="'15,67,785'" [percentValue]="'9'" style="width:25%" linecolor="green"></i2v-kpi-chart>
    <i2v-kpi-chart  [heading]="'Total no. of violations'" [data]="[40,35,45,20]" [value]="'85,610'" [percentValue]="'25'" style="width:25%" linecolor="red"></i2v-kpi-chart>
    <i2v-kpi-chart  [heading]="'Total no. of watchlist detected'" [data]="[20,20,10,20,15,30,25,20]" [value]="'34,759'" [percentValue]="'12.23'" style="width:25%" linecolor="green"></i2v-kpi-chart>
    <i2v-kpi-chart  [heading]="'Most seen vehicle type: car'" [data]="[5,25,35,25,35,45]" [value]="'24,736'" [percentValue]="'10.36'" style="width:25%" linecolor="green"></i2v-kpi-chart>
    </div>



<!-- "Vehicle makes" -->

<!-- wrong way vehicle -->


<div  style="width: 100%; display:flex;flex-direction: row;gap:20px">

  <kendo-tilelayout-item reorderable="true" style="width: 50%">
    <kendo-tilelayout-item-body style="width: 100%">
      <button (click)="getTotalNoOfVehicles()">GetData</button>
      <i2v-multi-column-chart
        heading="Total no of Vehicles"
        subHeading="in lakhs"
        [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)"
        [chartData]="series"
        color="#7091f5"
        [mwidth]="30"
      >
      </i2v-multi-column-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item style="width: 50%">
    <kendo-tilelayout-item-body>
      <button (click)="getVehicleTypes()">Get Data</button>
      <app-i2v-donut-chart heading="Vehicles types" [customFilters]="customFilter"
      (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
      [chartData]="pieDta" showCenter="true">
    </app-i2v-donut-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

</div>

<div>
  <kendo-tilelayout-item reorderable="true" style="width: 100%">
    <kendo-tilelayout-item-body style="width: 100%">
      <div style="display: flex;flex-direction: column;">

        <i2v-stackedcolumn-chart heading="Total no. of vehicle inflow and outflow " subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)" showChild="true"
        [chartData]="series">
        <i2v-pie-chart chartCategories="['Total no. of outflow vehicles','Total no. of inflow vehicles']" [chartData]="series">
        </i2v-pie-chart>
      </i2v-stackedcolumn-chart>
      </div>

      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
</div>
<div  style="width: 100%; display:flex;flex-direction: row;gap:20px">
  <!-- Total no. of violations -->
      <kendo-tilelayout-item reorderable="true" style="width: 50%">
        <kendo-tilelayout-item-body style="width: 100%">
          <button (click)="getTotalNoOfViolations()">GetData</button>
          <i2v-column-chart
            heading="Total no. of violations"
            subHeading="in lakhs"
            [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)"
            (customFilterOutput)="onCustomFilterOutput($event)"
            [chartData]="pieDta"
            color="#ff9f29"
          >
          </i2v-column-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <!-- Violations type -->
      <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
        <kendo-tilelayout-item-body>
          <button (click)="getViolationTypes()">GetData</button>
          <i2v-bar-chart heading="Violations types" subHeading="in lakhs" [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
            [chartData]="pieDta" color="#bc7af9">
          </i2v-bar-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>

</div>

<div><kendo-tilelayout-item  [col]="1" colSpan="10">
  <kendo-tilelayout-item-body>
    <button (click)="getTrafficDensityByArea()">GetData</button>
    <i2v-heatmap-chart heading="Traffic / violation density by Area" [customFilters]="customFilter"
      (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
      [chartData]="HeatMapData" color="#0A8ACF"  >
    </i2v-heatmap-chart>
  </kendo-tilelayout-item-body>
</kendo-tilelayout-item></div>

    <!-- vehicles at tolls -->
    <div style="width: 100%; display:flex;flex-direction: row;gap:20px">
      <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
        <kendo-tilelayout-item-body>
          <i2v-line-chart heading="Vehicles at tolls" subHeading="in lakhs" [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
            [chartData]="series">
          </i2v-line-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <!-- Average speed of vehicle -->
      <kendo-tilelayout-item  [col]="1" colSpan="10"style="width: 50%">
        <kendo-tilelayout-item-body>
          <button (click)="getAverageSpeedOfVehicles()">GetData</button>
          <i2v-area-chart heading="Average speed of vehicle" subHeading="in lakhs" [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
          [chartData]="series">
          </i2v-area-chart>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </div>



<!-- <div  style="width: 100%; display:flex;flex-direction: row;gap:20px">
  <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
    <kendo-tilelayout-item-body>
      <i2v-area-chart heading="Wrong way vehicles" subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
        [chartCategories]="stackedColumnChartData" [chartData]="stackedColumnChartData">
      </i2v-area-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

  <kendo-tilelayout-item  [col]="1" colSpan="10" style="width: 50%">
    <kendo-tilelayout-item-body>
      <i2v-bar-chart heading="Wrong way vehicles" subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
        [chartCategories]="barandLineCategories" [chartData]="barandLineData" color="#bc7af9">
      </i2v-bar-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>

</div> -->
<div>
  <!-- Vehicle color by its type -->
  <kendo-tilelayout-item [col]="1" colSpan="10">
    <kendo-tilelayout-item-body>
      <button (click)="getVehicleColorByType()">GetData</button>
      <i2v-stackedcolumn-chart heading="Vehicle color by its type" subHeading="in lakhs" [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
        [chartData]="series">
      </i2v-stackedcolumn-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</div>
<div>
  <kendo-tilelayout-item reorderable="true" style="width: 100%">
    <kendo-tilelayout-item-body style="width: 100%">
      <button (click)="getVehicleMake()">GetData</button>
      <i2v-column-chart
        heading="Vehicle makes"
        subHeading="in lakhs"
        [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)"
        [chartData]="pieDta"
        color="#ff865e"
      >
      </i2v-column-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</div>
<div>
  <!-- Vehicle models -->
  <!-- <kendo-tilelayout-item reorderable="true" style="width: 100%">
    <kendo-tilelayout-item-body style="width: 100%">
      <i2v-column-chart
        heading="Vehicle models"
        subHeading="in lakhs"
        [customFilters]="customFilter"
        (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)"
        [chartData]="pieDta"
        color="#a3bb98"
      >
      </i2v-column-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item> -->
</div>

    </kendo-tilelayout>
</div>
</div>
