<h1>FRS Dashboard</h1>

<div style="display: flex;flex-direction: column;gap: 20px;">
  <div style="display: flex;flex-direction: row;gap: 10px;">
    <!-- "Total no. of males" -->

    <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 50%;padding: 10px;">
      <kendo-tilelayout-item reorderable="true"  style="width: 100%;">
        <kendo-tilelayout-item-body style="width: 100%;">
          <i2v-column-chart heading="Total no. of males" subHeading="in lakhs" [customFilters]="customFilter"
          (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
          [chartCategories]="barandLineCategories" [chartData]="barandLineData" color="#1b93d3">
        </i2v-column-chart>
      <!-- <i2v-charts style="display: flex;" heading="Total no. of males" subHeading=" in lakhs"
      [customFilters]="customFilter" (daysFilterOutput)="onDaysFilterOutput($event)"    (customFilterOutput)="onCustomFilterOutput($event)"
       >
        <kendo-chart style="width: 100%;" >
          <kendo-chart-title ></kendo-chart-title>
          <kendo-chart-x-axis>
            <kendo-chart-x-axis-item [visible]="true"> </kendo-chart-x-axis-item>
          </kendo-chart-x-axis>
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [categories]="barandLineCategories" >
            </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
          <kendo-chart-series >
            <kendo-chart-series-item  color="#1b93d3" [data]="barandLineData">
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>
      </i2v-charts> -->
   </kendo-tilelayout-item-body>
   </kendo-tilelayout-item>
  </kendo-tilelayout>
  <!-- "Total no. of females" -->
  <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 50%;padding: 10px;">
    <kendo-tilelayout-item reorderable="true"  style="width: 100%;">
      <kendo-tilelayout-item-body style="width: 100%;">
    <!-- <i2v-charts style="display: flex;" heading="Total no. of females" subHeading=" in lakhs"
    [customFilters]="customFilter" (daysFilterOutput)="onDaysFilterOutput($event)"    (customFilterOutput)="onCustomFilterOutput($event)"
     > -->
     <i2v-column-chart heading="Total no. of females" subHeading="in lakhs" [customFilters]="customFilter"
     (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
     [chartCategories]="barandLineCategories" [chartData]="barandLineData" color="#bc7af9">
   </i2v-column-chart>
      <!-- <kendo-chart style="width: 100%;" >
        <kendo-chart-title ></kendo-chart-title>
        <kendo-chart-x-axis>
          <kendo-chart-x-axis-item [visible]="true"> </kendo-chart-x-axis-item>
        </kendo-chart-x-axis>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="barandLineCategories" >
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item  color="#bc7af9"  [data]="barandLineData">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart> -->
    <!-- </i2v-charts> -->
 </kendo-tilelayout-item-body>
 </kendo-tilelayout-item>
</kendo-tilelayout>
</div>









<div style="display: flex;flex-direction: row; gap: 10px;">
  <!-- Top 10 frequently person seen -->
  <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 50%;padding: 10px;">
    <kendo-tilelayout-item reorderable="true"  style="width: 100%;">
      <kendo-tilelayout-item-body style="width: 100%;">
      <i2v-charts style="display: flex;" heading="Top 10 frequently person seen"
        [customFilters]="customFilter" (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)">
  <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection" [pageSize]="10"
    [pageable]="true" [sortable]="true"  [reorderable]="true" [resizable]="true"
    [columnMenu]="{ filter: true }">
      <kendo-grid-column field="name" title="Name" >
        <!-- <ng-template kendoGridCellTemplate let-dataItem style="display:flex;flex-direction:row;gap:10px;"  >
          <img [src]="dataItem.image" width="32" height="32" style="border-radius: 50%;" >
          <div class="customer-name">{{ dataItem.name }}</div>
        </ng-template> -->
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="customer-photo" [ngStyle]="{ 'background-image': photoURL(dataItem.image) }"></div>
          <div class="customer-name">{{ dataItem.name }}</div>
        </ng-template>
      </kendo-grid-column>

        <kendo-grid-column field="gender" title="Gender" [width]="100" [class]="{ 'text-center': true }"
        [resizable]="false" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-badge-container style="display: inline;border: 1px solid ;border-radius: 4px;padding: 4px;border-color:#E5E9EC;">
          <kendo-badge size="large" >
            {{ dataItem.gender }}
          </kendo-badge>
        </kendo-badge-container>
        </ng-template>
        </kendo-grid-column>

      <kendo-grid-column field="label" title="Label" >
      </kendo-grid-column>
      <kendo-grid-column field="recurrences" title="Recurrences">
      </kendo-grid-column>

    <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
  </kendo-grid>
  </i2v-charts>
</kendo-tilelayout-item-body>
</kendo-tilelayout-item>
</kendo-tilelayout>
  <!-- Employees attendance -->
  <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 50%;padding: 10px;">
    <kendo-tilelayout-item reorderable="true"  style="width: 100%;">
      <kendo-tilelayout-item-body style="width: 100%;">
      <i2v-charts style="display: flex;" heading="Top 10 frequently person seen"
        [customFilters]="customFilter" (daysFilterOutput)="onDaysFilterOutput($event)"
        (customFilterOutput)="onCustomFilterOutput($event)">
  <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection" [pageSize]="10"
    [pageable]="true" [sortable]="true"  [reorderable]="true" [resizable]="true"
    [columnMenu]="{ filter: true }">
      <kendo-grid-column field="name" title="Name" >
        <!-- <ng-template kendoGridCellTemplate let-dataItem style="display:flex;flex-direction:row;gap:10px;"  >
          <img [src]="dataItem.image" width="32" height="32" style="border-radius: 50%;" >
          <div class="customer-name">{{ dataItem.name }}</div>
        </ng-template> -->
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="customer-photo" [ngStyle]="{ 'background-image': photoURL(dataItem.image) }"></div>
          <div class="customer-name">{{ dataItem.name }}</div>
        </ng-template>
      </kendo-grid-column>

        <kendo-grid-column field="clock_in_time" title="Clock in time" [width]="100" [class]="{ 'text-center': true }"
        [resizable]="false" filter="boolean">
        </kendo-grid-column>

      <kendo-grid-column field="clock_in_percentage" title="Clock in %" >
      </kendo-grid-column>
      <kendo-grid-column field="last_5_days" title="Last 5 days">
        <ng-template let-dataItem  kendoGridCellTemplate >

            <div class="attendence_icon" [ngStyle]="{ 'background-image': dataItem.last_5_days[0]?photoURL('assets/images/check.png'):photoURL('assets/images/image.png') }">
          </div>
          <div class="attendence_icon" [ngStyle]="{ 'background-image': dataItem.last_5_days[1]?photoURL('assets/images/check.png'):photoURL('assets/images/image.png') }">
          </div>
          <div class="attendence_icon" [ngStyle]="{ 'background-image': dataItem.last_5_days[2]?photoURL('assets/images/check.png'):photoURL('assets/images/image.png') }">
          </div>
          <div class="attendence_icon" [ngStyle]="{ 'background-image': dataItem.last_5_days[3]?photoURL('assets/images/check.png'):photoURL('assets/images/image.png') }">
          </div>
          <div class="attendence_icon" [ngStyle]="{ 'background-image': dataItem.last_5_days[4]?photoURL('assets/images/check.png'):photoURL('assets/images/image.png') }">
          </div>

        </ng-template>
      </kendo-grid-column>

    <kendo-grid-pdf fileName="EmployeesAttendence.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
    <kendo-grid-excel fileName="EmployeesAttendence.xlsx"></kendo-grid-excel>
  </kendo-grid>
  </i2v-charts>
</kendo-tilelayout-item-body>
</kendo-tilelayout-item>
</kendo-tilelayout>


</div>















<div style="display: flex;flex-direction: row; gap: 10px;">
  <!-- "Customer footfall -->
  <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 33%;padding: 10px;">
  <kendo-tilelayout-item>
    <kendo-tilelayout-item-body>
      <app-i2v-donut-chart heading="Customer footfall" [customFilters]="customFilter"
      (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
      [chartData]="customerFootfall">
    </app-i2v-donut-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
  </kendo-tilelayout>
  <!-- Avg. employees’ attendance -->
  <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 33%;padding: 10px;">
  <kendo-tilelayout-item>
    <kendo-tilelayout-item-body>
      <app-i2v-donut-chart heading="Avg. employees’ attendance" [customFilters]="customFilter"
      (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)"
      [chartData]="employeeAttenPie">
    </app-i2v-donut-chart>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
  </kendo-tilelayout>
  <!-- Avg. visitors time -->
  <kendo-tilelayout  [resizable]="true" reorderable="true" style="width: 33%;padding: 10px">
    <kendo-tilelayout-item>
      <kendo-tilelayout-item-body>
            <app-i2v-gauge-chart heading="Avg. employees’ attendance" [customFilters]="customFilter"
            (daysFilterOutput)="onDaysFilterOutput($event)" (customFilterOutput)="onCustomFilterOutput($event)" color="#d5768c" gaugevalue="30">
            </app-i2v-gauge-chart>
    </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
  </div>


</div>
